@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../font/poppins-regular.woff2') format('woff2'),
        url('../font/poppins-regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../font/poppins-500.woff2') format('woff2'),
        url('../font/poppins-500.woff') format('woff');
}

:root {
    --color-primary: #bb4333;
    --color-primary-soft: #cd5237;
    --color-primary-light: #cd3737;
    --color-secondary: #3f3cb5;
    --color-grey: #b7b7b7;
    --color-grey-dark: #767676;
    --color-grey-light: #f4f4f4;
    --color-text: #222322;
    --color-white: #fff;

    --color-delete: #d93336;

    --drop-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    --book-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 50%;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
    font-weight: 400;
}

h2 {
    font-size: 3.2rem;
    font-weight: 500;
}

.strong {
    font-weight: 500;
}

.alert {
    font-size: 2rem;
    text-align: center;
    border: 4px solid var(--color-text);
    padding: 4rem;
}

.layout-header {
    padding: 4rem 0;
    text-align: center;
}

.layout-background {
    background-color: var(--color-primary);
    border-radius: 10px;
    color: var(--color-white);
}

.layout-footer {
    text-align: center;
    padding: 2rem 0;
}

.layout-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    padding: 4rem 0;
}

.layout-main-form {
    padding: 2rem;
    border: 1px solid var(--color-grey);
}

.btn {
    color: var(--color-white);
    font-size: inherit;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    padding: 1rem;
    background-color: var(--color-primary-light);
    cursor: pointer;
    box-shadow: var(--drop-shadow);
}

.btn-outline {
    background: transparent;
    border: 0;
    color: var(--color-grey-dark);
    font-size: inherit;
    font-weight: 500;
    cursor: pointer;
}

.btn-icon {
    width: 5rem;
    height: 5rem;
}

.btn-read {
    background-color: var(--color-secondary);
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-read-outline {
    background-image: url('../img/read-outline.svg');
}

.btn-read-fill {
    background-image: url('../img/read-fill.svg');
}

.btn-delete {
    background: url('../img/trash.svg');
    background-color: var(--color-delete);
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-confirm {
    background-color: var(--color-delete);
    color: var(--color-white);
}

.form-control {
    margin-bottom: 1rem;
}

.form-label {
    color: var(--color-grey);
}

.form-input {
    width: 100%;
    font-size: inherit;
    padding: 1.5rem 1rem;
    border: 1px solid var(--color-grey);
}

.form-block {
    display: block;
}

.form-search {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.form-search > input {
    flex: 1;
}

.book {
    padding: 3rem 4rem;
    background-color: var(--color-grey-light);
    text-align: center;
}

.book:not(:last-child) {
    margin: 0 0 1rem;
}

.book-img {
    display: flex;
    justify-content: center;
    min-height: 10rem;
    margin-bottom: 2rem;
    color: var(--color-white);
    gap: 0.25rem;
}

.book-case {
    background-color: var(--color-primary);
    width: 0.5rem;
}

.book-cover {
    padding: 2rem;
    background-color: var(--color-primary-soft);
    border-radius: 0 5px 5px 0;
    box-shadow: var(--book-shadow);
}

.book-heading {
    font-size: 2.4rem;
    font-weight: 500;
}

.book-body {
    color: var(--color-grey-dark);
}

.badge {
    background-color: var(--color-grey);
    color: var(--color-white);
    padding: 0.25rem 1rem;
    border-radius: 5px;
    font-size: 1.4rem;
    transform: translateY(-10%);
    display: inline-block;
}

.tablist {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem;
    margin: 0 0 3rem;
    border: 1px solid var(--color-grey);
}

.tablist-tab {
    color: var(--color-grey);
    cursor: pointer;
    border: 0;
    background-color: transparent;
    font-size: 2.4rem;
}

.tablist-tab-is-active {
    color: var(--color-primary);
}

.tablist-tab-is-active > .badge {
    background-color: var(--color-primary-soft);
}

.tabpanel {
    display: none;
}

.tabpanel-is-active {
    display: block;
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
}

.dialog-is-hidden {
    visibility: hidden;
}

.dialog-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 100rem;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    overflow: hidden;
}

.dialog-header {
    text-align: center;
    padding: 1.5rem;
    border-bottom: 1px solid var(--color-grey);
}

.dialog-body {
    padding: 5rem;
}

.dialog-footer {
    background-color: var(--color-grey-light);
    padding: 2rem;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}
